# mac
.DS_Store

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build
build

# node_moules
**/node_modules/
**/.cache
**/dist

# vendor
**/vendor

# common


